<h1>show </h1>
<p><%= params[:id]%></p>

<p>
	<%= @post.title%>
</p>

<p>
	<%= @post.body%>
</p> 
<%= link_to "edit" ,edit_post_path %>|
<%= link_to "delete" ,post_path,method: :delete ,data: {confirm: "y/n?"}%>	


<h2 >show comment </h2>
<%= render @post.comment.order("created_at DESC") %>

<h2 >comment </h2>


<%= form_for [@post,@post.comment.build] do |f| %>

	<%= f.label :name %>
 	 <%= f.text_field :name %>
 	 <%= f.label :body %>
 	 <%= f.text_field :body %>
 	 <%= f.submit %>
<% end %>


 	